body, html {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      /* background-color: red; */
 }

button-not.active {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

.ol-zoom > button,
.widget-map-buttoncontainer > button {
    width: 46px;
    height: 46;
    font-size: 25px;
}
.widget-map-buttoncontainer {
    top: 10px;
}
.widget-layerswitch {
    position: absolute;
    max-height: 700px;
    top: 10px;
    left: 58px;
}
.ol-zoom {
    visibility: hidden;
}
.widget-layerswitch-text { 
    font-size: large; 
}
.widget-layerswitch>.widget-layerswitch-listcontainer
{
    background-color: aliceblue;
}
.widget-hoverbox-sub, .widget-hoverbox-subheader
{
    padding: 4px;
}