body, html {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 }
.widget-map-buttoncontainer {
    top: 10px;
}
.ol-zoom > button,
.widget-map-buttoncontainer > button {
    width: 46px;
    height: 46;
    font-size: 25px;
}
.widget-layerswitch {
    position: absolute;
    max-height: 700px;
    top: 10px;
    left: 58px;
}
.ol-zoom {
    visibility: hidden;
}
.widget-layerswitch-text { 
    font-size: large; 
}
.widget-layerswitch>.widget-layerswitch-listcontainer
{
    background-color: aliceblue;
}
.widget-hoverbox-sub, .widget-hoverbox-subheader
{
    padding: 4px;
}

.widget-hoverbox-sub, 
.widget-hoverbox-subheader,
.widget-hoverbox-title
{
    font-size: 13px
}
